{% extends 'core/base.html' %}
{% load static %}

{% block header %}Class List{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/grading.css' %}">
{% endblock %}

{% block content %}

<div class="kanban-container">

    {% for s in sections %}
    <a href="{% url 'grading_system:section_detail' s.id %}" class="kanban-card">

        <h3>{{ s.name }}</h3>

        <p><b>Course:</b> {{ s.course.name }}</p>

        <p><b>Instructor:</b> {{ s.faculty.name }}</p>

    </a>
    {% endfor %}

</div>

{% endblock %}